<section class="main center">
  <h2>Write a Comment</h2>
  <%= form_with model: @comment, url: user_post_comments_path, locals: true, method: :post, scope: :new_comment do |f| %>
    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <%= f.submit 'Comment' %>
  <% end %>
</section>
